@font-face {
    font-family: "Nushu";
    src: url('./fonts/NotoSansNushu-Regular.ttf');
}

html {
    font-family: "Nushu", monospace;
}

.unicode-table {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr) );
}

.unicode-table>div {
    border: 1px solid #eee;
    text-align: center;
    padding: 0.5rem;
}

.letter-lg {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.label {
    font-size: 0.75rem;
}